.header-container{
  background-image: linear-gradient(to bottom, #f5f2e1, #f7f9f9);
  border: 1px solid rgba(0, 0 ,0 , 0.3);
  border-left : 0px;
  border-top : 0px;
  border-right: 0px;
  line-height: 60px;
  width : 100%;
  height: 60px;
  float: right;
}

.header-content{
  text-align: left;
  width : 100%;
  height: 100%;
}

.header-image-position{
  padding-left: 10px;
  width: 50%;
  float: left;
  padding-top: 10px;
}

.header-room-name{
  height: 40px;
  line-height: 40px;
}

.header-setting-icon-position{
  position: absolute;
  right: 10px;
  float: right;
  padding-top: 5px;
}

.profileImage{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

.setting-icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
